<configuration>
    <jansi>true</jansi>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) --- %cyan(%46.46logger) : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PROMETHEUS" class="io.prometheus.client.logback.InstrumentedAppender">
        <prometheusCollector>
            <name>logback</name>
        </prometheusCollector>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="ru.ravel.ItDesk" level="INFO"/>
    <logger name="ru.ravel.ItDesk" level="WARN"/>
    <logger name="ru.ravel.ItDesk" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="PROMETHEUS"/>
<!--    <appender-ref ref="FLUENT"/>-->
    </root>
</configuration>