body {
    font-family: 'Ubuntu';
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.main-frame {
    /*width: 100%;*/
    height: calc(100% - 51px);
    display: flex;
    background-color: #f8ffff;
}

#right-side {
    height: 100%;
    /*width: 100%;*/
    padding: 10px;
    /*margin-top: 10px;*/
    box-sizing: border-box;
    display: flex;
    overflow: auto;
    /*flex-direction: column;*/
    /*border-bottom: 1px solid #adb2b2;*/
}

/*#right-side p {*/
/*    margin-left: 10px;*/
/*}*/

.right-side-body {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    /*border: 1px solid #adb2b2;*/
}

.right-side-column {
    width: 100%;
    min-width: 400px;
    margin: 0 5px;
}

.client-card {
    display: block;
    width: auto;
    min-height: 50px;
    margin: 10px 0;
    border: 1px solid #adb2b2;
    box-sizing: border-box;
    border-radius: 3px;
    color: #4a4c4c;
    text-decoration: none
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/;
    padding: 5px 0;
}

.client-card .client-card-info {
    width: 100%;
    display: flex;
    /*font-size: 0.85em;*/
    border: 0px;
    font-size: 16px;
    font-weight: bold;
}

.client-card .client-card-info .date{
    margin-right: 10px;
    margin-left: auto;
    font-size: 13px;
}

.organization {
    margin-left: 10px;
    margin-right: auto;
}

.name {
    margin-right: 10px;
    margin-left: auto;
}

.tasks-list {
    /* font-weight: bold; */
    padding: 0 11px;
    font-size: 16px;
}

.tasks-list p{
    margin: 3px 0;
}

.client-card:hover {
    box-shadow: 0 0 2px 1px #adb2b2;
    background-color: #f2f8f8;
    /*font-weight: bold;*/
}