body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.dialog {
    display: grid;
    width: 100%;
    height: 100%;
}

.client-info {
    width: 100%;
    /*height: 70px;*/
    /*height: auto;*/
    border-bottom: 1px solid #adb2b2;
    /*display: flex;*/
}

.client-info .client {
    font-size: 1.2em;
}

.client-info .client-fields span {
    border: 1px solid #adb2b2;
    border-radius: 3px;
    padding: 1px;
}

.messages {
    width: 100%;
    overflow: auto;
    /*max-height: calc(100% - 191px);*/
    /*height: 100%;*/
    display: inline-grid;
    /*border: 1px solid #adb2b2;*/
}


.message {
    /*float: left;*/
    min-width: 100px;
    /*width: 40vw;*/
    max-width: 90%;
    border: 1px solid #adb2b2;
    border-radius: 3px;
    padding: 10px;
    word-wrap: break-word;
    float: right;
    /*word-wrap: break-word;*/
    /*min-height: 10px;*/
    max-height: 400px;
    position: relative;
    margin: 10px;
}

.message.client {
    /*float: right;*/
    margin-left: 10px;
    margin-right: auto;
    background: #edffea;
    /*word-wrap: break-word;*/
}


.message.support {
    margin-left: auto;
    margin-right: 10px;
    background: #f2eaff;
    /*word-wrap: break-word;*/
}


.message p {
    margin: 0;
    overflow: auto;
}

.reply {
    display: flex;
    min-height: 80px;
    /*background: blueviolet;*/
    padding: 10px;
}

.reply input {
    height: 100%;
    width: 100%;
}

.reply .send-button {
    width: 50px;
    background: darkcyan;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: white;
}