body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.dialog {
    /* display: grid; */
    width: 100%;
    position: relative;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.client-info {
    width: 100%;
    /* max-height: 60px; */
    /*height: 70px;*/
    /*height: auto;*/
    border-bottom: 1px solid #adb2b2;
    /*display: flex;*/
    margin-bottom: 10px;
}

.client-info .client {
    font-size: 1.2em;
}

.client-info .client-fields span {
    border: 1px solid #adb2b2;
    border-radius: 3px;
    padding: 1px;
}

.messages {
    width: 100%;
    overflow: auto;
    /* max-height: calc(100% - 191px); */
    height: 100%;
    /* display: inline-grid; */
    /*border: 1px solid #adb2b2;*/
    display: flex;
    flex-direction: column;
}


.message {
    /*float: left;*/
    min-width: 100px;
    /*width: 40vw;*/
    max-width: 75%;
    border: 1px solid #adb2b2;
    border-radius: 3px;
    padding: 10px;
    word-wrap: break-word;
    float: right;
    /*word-wrap: break-word;*/
    /*min-height: 10px;*/
    /*max-height: 400px;*/
    position: relative;
    margin: 10px;
}

.message.client {
    /*float: right;*/
    margin-left: 10px;
    margin-right: auto;
    background: #edffea;
    /*word-wrap: break-word;*/
}


.message.support {
    margin-left: auto;
    margin-right: 10px;
    background: #f2eaff;
    /*word-wrap: break-word;*/
}


.message p {
    margin: 0;
    overflow: auto;
}

.reply {
    display: flex;
    /*background: blueviolet;*/
    padding: 10px;
    min-height: 30px;
    height: 100%;
    max-height: 100px;
    /* position: absolute; */
    /* bottom: 0; */
    /*width: 100%;*/
    margin-bottom: 0;
}

.reply .input {
    height: 100%;
    width: calc(100% - 50px);
    /*width: 100%;*/
    /*max-width: 100%;*/
    border: 1px solid #adb2b2;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
}

.reply .send-button {
    /*width: 50px;*/
    background: darkcyan;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: white;
    height: auto;
}

.icon {
    font-size: 40px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1.26;
    text-transform: none;
    letter-spacing: normal;
    justify-content: center;
    display: flex;
    color: #fff;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.check-boxes {
    width: 400px;
    /*background: darkcyan;*/
    border-left: 1px solid #adb2b2;
}