body {
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    width: 100%;
    background-color: #dde8fa;
    border-bottom: 1px solid #adb2b2;
}

.main-frame {
    width: 100%;
    height: calc(100% - 51px);
    display: flex;
    background-color: #f8ffff;
}

/*left--------------------------*/
#left-side {
    /*height: 100%;*/
    width: 40vw;
    max-width: 250px;
    /*min-width: ;*/
    padding: 0.5vh 0.5vw;
    border-right: 1px solid #adb2b2;
}

#filters {
    height: 40px;
    width: 100%;
    margin: 5px 5px;
    border: 0 solid #adb2b2;
    box-sizing: border-box;
    border-radius: 3px;
    /*border-top: 1px solid rgba(0, 0, 0, 0.3);*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
}

#filters img {
    width: 40px;
}

#filters td:hover {
    box-shadow: 0 0 2px 1px #adb2b2;
    background-color: #f2f8f8;
}

.filter_button {
    height: 100%;
    text-align: center;
    border: 1px solid #adb2b2;
    box-sizing: border-box;
    border-radius: 3px;
}

.left-side-menu-component {
    height: 30px;
    /*width:100%;*/
    margin: 5px 5px;
    border: 1px solid #adb2b2;
    box-sizing: border-box;
    border-radius: 3px;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
}

.left-side-menu-component:hover {
    box-shadow: 0 0 2px 1px #adb2b2;
    background-color: #f2f8f8;
}


/*--------------------------ride*/
#right-side {
    height: 100%;
    width: 100%;
    padding: 0.5vh calc(0.5vw + 10px) 0.5vh 0.5vw;
    /*margin-top: 10px;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*border-bottom: 1px solid #adb2b2;*/
}

/*#right-side p {*/
/*    margin-left: 10px;*/
/*}*/

.right-side-body {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    /*border: 1px solid #adb2b2;*/
}

.right-side-column {
    width: 100%;
    margin: 0 5px;
}

.right-side-component {
    display: block;
    width: auto;
    height: 50px;
    margin: 5px 0;
    border: 1px solid #adb2b2;
    box-sizing: border-box;
    border-radius: 3px;
    color: #4a4c4c;
    text-decoration: none
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
}

.right-side-component:hover {
    box-shadow: 0 0 2px 1px #adb2b2;
    background-color: #f2f8f8;
    font-weight: bold;
}