name: deploy

on:
  push:
    branches:
      - 'master'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Java and Gradle
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Run tests
        run: ./gradlew test --no-daemon

  deploy:
    runs-on: self-hosted
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build Docker containers
        run: sudo /usr/bin/docker compose build --no-cache
      - name: Start Docker containers
        run: sudo /usr/bin/docker compose up -d